
body{
    max-width: 1200px;
    margin: 100px auto 0 auto;
    font-family: sans-serif;
}

input[type="color"] {
	border: none;
	width: 32px;
	height: 32px;
    border-radius: 6px;
}

h1{
    text-align: center;
    color: grey;
}

input::-webkit-color-swatch {
    border: none;
    }

a{
    padding: 20px;
    border-radius: 15px;
    text-decoration: none;
    border: 1px solid grey;
    text-decoration: none;
    color: grey;
    transition: all .3s ease-out;
    position: absolute;
    left:0;
    right:0;
  
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    text-align: center;
   
}

a:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}